@import "bootstrap/functions";
@import "bootstrap/variables";

@import "variables";

@import "bootstrap/mixins";
@import "bootstrap/reboot";

@import "bootstrap/grid";
@import "bootstrap/utilities";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/nav";
@import "bootstrap/";

a,
.nav-link {
  color: $black;
  transition: color 250ms ease-in-out;
}

.rc-loading {
  .rc-loading-icon {
    top: calc(50vh);
  }
}

.rc-loading-content {
  position: relative;
}
