@import "../styles/base";

.page {
}

.heading {

  h1 {
    @extend .mb-0;
    @extend .mt-3;
    @extend .pl-2;
    @extend .pl-md-3;

    small {
      @extend .text-secondary;
      font-family: $font-family-sans-serif;
    }
  }
}

.date {
  @extend .mb-3;
  @extend .pl-2;
  @extend .pl-md-3;
  @extend .h4;
  @extend .text-info;

  span {
    @extend .text-secondary;
  }
}

.featuredImage {
  width: 100%;
}

.content {
  @extend .py-4;
  @extend .px-3;

  font-weight: 200;

  p {
    @include font-size($font-size-lg);
    @extend .mb-4;

    line-height: $line-height-lg;
  }

  figure {
    @extend .figure;
    @extend .pb-5;

    figcaption {
      @extend .pl-3;
      margin-top: -3rem;
    }
  }

  h3 {
    @extend .text-secondary;

    font-family: $font-family-sans-serif;
  }
}

.videos {
  @extend .row;
}

.videoColumn {
  @extend .col-12;

  h3, h4 {
    @extend .pt-0;
    @extend .pb-2;
    @extend .px-3;
    @extend .m-0;
  }

  h3 {
    @include font-size($font-size-lg);
  }

  h4 {
    @include font-size($font-size-sm);
  }
}

.pagination {
  @extend .mb-0;
  @extend .py-4;
  @extend .row;

  background-color: $black;
}

.home,
.previous,
.next {
  @extend .col-4;
  @extend .d-flex;
  @extend .justify-content-center;

  a {
    color: $white;
    font-family: $font-family-sans-serif;
  }

  i {
    @extend .mx-3;
  }
}
