@import '../styles/base';

.header {
  @extend .mb-0;
  @extend .h1;
  @extend .shadow;
  @include media-breakpoint-up(xl) {
    min-height: 300px;
  }

  background-color: $white;
  border-bottom: 15px double $black;
  height: 212px;
  min-height: 165px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  a {
    @extend .py-2;
    font-size: $font-size-lg;
  }
}

.banner {
  @include media-breakpoint-up(md) {
    background-size: cover;
  }
  @include media-breakpoint-up(xl) {
    min-height: 235px;
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $black;
  display: block;
  font-size: $h2-font-size;
  min-height: 150px;
  text-align: center;
  width: 100%;
}

.hidden {
  @extend .sr-only;
}
