@import "../styles/base";

.postTease {
  @extend .p-3;
  @extend .border-bottom;

  h2, h3 {
    @extend .mb-1;
  }

  h3 {
    @extend .h5;
    @extend .text-secondary;

    font-family: $font-family-sans-serif;
  }
  .imageContainer {
    border-radius: 50%;
    border: 10px $black double;
    height: 200px;
    line-height: 200px;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
    text-align: center;
    width: 200px;

    img {
      height: 200px;
      margin: -100%;
      max-width: none;
      width: auto;
    }
  }
}

.link {
  align-items: center;
  display: flex;
}

.overline {
  color: theme-color(warning);
}

.content {
  @extend .ml-4;
}

.featuredPost {
  background-color: theme-color(dark);
  background-repeat: no-repeat;
  background-size: cover;
  color: theme-color(light);

  a {
    @extend .mb-2;
    color: theme-color(light);
    display: block;
    line-height: 1.1;
    text-align: right;
  }

  h3 {
    color: theme-color(light);
  }

  .overline {
    color: theme-color(secondary);
  }

  &.small {

    a {
      font-size: $h3-font-size;
    }

    h3 {
      font-size: $h4-font-size;
    }

    .content {
      @extend .mr-0;
      @extend .ml-auto;
      @extend .p-2;
      @extend .p-md-4;
      @extend .pl-4;
      @extend .pl-md-6;

      @include media-breakpoint-up(md) {
        width: 70%;
      }

      background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(56,3,3,1) 50%, rgba(0,0,0,1) 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 85%;
      text-align: right;
    }
  }

  &.large {
    @include media-breakpoint-up(md) {
      grid-column: 1 / 4;
      grid-row: 1 / 1;
    }

    a {
      font-size: $h2-font-size;
    }

    .content {
      @extend .mr-0;
      @extend .ml-auto;
      @extend .p-3;
      @extend .p-md-5;
      @extend .pl-4;
      @extend .pl-md-6;

      @include media-breakpoint-up(md) {
        width: 60%;
      }

      background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(56,3,3,1) 19%, rgba(0,0,0,1) 100%);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: right;
      width: 75%;
    }
  }
}
