@import 'styles/base';

.app {
  min-height: 100vh;
  position: relative;
}

.banner {
  @include media-breakpoint-up(lg) {
    max-height: 300px;
  }
  display: block;
  max-height: 200px;
  overflow: hidden;
}

.marker {
  @extend .ml-2;

  color: $black;
  font-family: 'Permanent Marker', cursive;
  font-size: $h1-font-size;
}

.bangers {
  color: $secondary;
  display: inline-block;
  font-family: 'Bangers', cursive;
  font-size: $h1-font-size * 1.1;
}
